* { box-sizing: border-box; }


canvas{
  background-color: grey;
}

html,body{
  height: 100%;
  width: 100%;
}

#scenario {
  width: 100%;
  height: 950px;
  overflow-x: hidden;
  background: black;
  border: thin solid black;
  scroll-behavior: smooth;

  position: relative;
}

#board {
  width: 480px;
  height: 270px;
  background-color: grey;
  overflow-x: hidden;

}



#box, .caja2{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: white;
  z-index: -1;
}


 #obje{
  width: 50px;
  height: 50px;
  background-color: grey;
  /* border-radius: 50%; */
}

.puntos{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 5px;
  height: 15px;
  background-color: yellow;
  display: none;
  animation-name: bullet;
   animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes bullet {
  0%  {top: 0px;}
  25% {top: 100px;}
  50% {top: 200px;}
  75% {top: 300px;}
  100% {top: 500px;}
}
